
/* Corps de la page */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Section en-tête */
.header {
    background-image: url('assets/images/arriere-plan/image-background-bienvenue.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.header p {
    font-size: 1.5rem;
}

/* Sections */
section {
    padding: 30px 0;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

/* Images responsives */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Cartes de projets */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section des petites annonces */ 
.announcements { 
    background-color: #74b8fd; 
} 

.announcement-text { 
    font-size: 1.20rem; 
    color: #333; 
    padding: 20px; 
}

/* Section des dons */ 
.donations { 
    background-color: #f8f9fa; 
} 

.donations form { 
    max-width: 500px; 
    margin: 0 auto; 
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
}
